

body {
  font-family: "poppins", sans-serif;
  color: #ffffff;
  background: rgb(6, 6, 26);
  background: linear-gradient(
    129deg,
    rgb(6, 6, 26) 0%,
    rgba(6, 6, 26, 1) 22%,
    rgb(69, 25, 99) 100%
  );
  height: 100vh;
}
